<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<body>

<!--
        Account list for sidebar
-->
<th:block th:fragment="nav-accounts-list">
  <ul class="nav flex-column mb-2">
    <li class="nav-item" th:each="account: ${accounts}">
      <a class="nav-link account-nav-link" href="#" th:data-account-id="${account.id}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
             stroke-linejoin="round" class="feather feather-file-text">
          <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
          <polyline points="14 2 14 8 20 8"></polyline>
          <line x1="16" y1="13" x2="8" y2="13"></line>
          <line x1="16" y1="17" x2="8" y2="17"></line>
          <polyline points="10 9 9 9 8 9"></polyline>
        </svg>
        <span th:text="${account.name}"></span>
      </a>
    </li>
  </ul>
  <script type="application/javascript" th:src="@{/js/nav-accounts-list.js}"></script>
</th:block>

<!--
        Account information page
-->
<th:block th:fragment="main-account-info">
  <div class="row">
    <h1 class="h2" id="account-name-header">
      <div id="account-name-readonly">
        <a id="account-name-a" class="nav-link" href="#">
      <span id="account-name-text" th:text="${account.name}"></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="36" viewBox="0 0 512 768">
          <path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/>
        </svg>
      </a>
      </div>
      <span id="account-name-edit" style="display: none">
        <input id="account-name-input" type="text" th:data-account-id="${account.id}" th:value="${account.name}">
      </span>
    </h1>
  </div>
  <div class="row">
  <div id="transaction-add-anchor">
    <a id="transaction-add-toggle" class="nav-link" href="#">add transaction</a>
  </div>
  <div id="transaction-add-form" style="display: none">
    <form method="POST" th:action="@{/app/transaction/add}" id="form-transaction-add">
      <div class="form-group mb-3 col-md-3">
        <label class="form-label" for="form-transaction-add-amount">Amount</label>
        <input class="form-control" placeholder="Amount" type="text" id="form-transaction-add-amount">

        <label class="form-label" for="form-transaction-add-date">Date</label>
        <input class="form-control" placeholder="Amount" type="text" id="form-transaction-add-date">
      </div>
      <div class="form-group">
        <button type="submit" id="form-transaction-add-submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  </div>
  <div id="transaction-list-table" class="row">
  </div>
  <script type="application/javascript" th:src="@{/js/account-main-info.js}"></script>
</th:block>

<!--
        Application form to add new account
-->
<th:block th:fragment="main-account-addform">
  <div class="row">
    <h1 class="h2" id="account-add-header">Create new account</h1>
    <form method="POST" th:action="@{/app/account/add}" id="form-account-add">
      <div class="form-group mb-3 col-md-3">
        <label class="form-label" for="form-account-add-name">Name</label>
        <input class="form-control" placeholder="Enter account name" type="text" id="form-account-add-name">
      </div>
      <div class="form-group">
        <button type="submit" id="form-account-add-submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <script type="application/javascript" th:src="@{/js/account-add-form.js}"></script>
</th:block>

</body>
</html>