<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<body>

<th:block th:fragment="main-transaction-list">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.date}"></td>
            <td th:text="${transaction.amount}"></td>
        </tr>
        </tbody>
    </table>
</th:block>

</body>
</html>